:root{
  --rsvp-modal-bg: #ededed;
  --rsvp-modal-text: #242424;
}


[data-theme='dark']{
  --rsvp-modal-bg: #232323;
  --rsvp-modal-text: #dcdcdc;
}

.rsvpModal{
  background-color: var(--rsvp-modal-bg);
  color: var(--rsvp-modal-text);
}
