# Dependency directories
**/node_modules
/.pnp
.pnp.js

# Testing coverage output
**/coverage

# Build output directories
**/build
**/dist

# Misc
.DS_Store

# env
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
/rpi-eventhub/backend/logs

# idea files
**/.idea
rpi-eventhub/.idea/copilot/chatSessions/00000000000.xd
rpi-eventhub/backend/cleaned_events.json
rpi-eventhub/backend/event_9_30_24.json
rpi-eventhub/backend/events_202410011504.json

#formatter ignore
.prettierignore
rpi-eventhub/backend/logs/events_change-2024-10-30.log
*.log
rpi-eventhub/backend/logs/.9680bf6f03f3747961fdb9a12fd7104d5ca3878d-audit.json

.early.coverage