@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.eventsDisplayContainer {
    padding: 20px 0 60px 0;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.eventPosterContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: auto 3 / 4;
}

.eventPosterImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.eventPosterDetails {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.eventPosterTitle {
    margin-bottom: 10px;
    font-size: 20px;
}

.eventPosterDescription {
    text-align: center;
    font-size: 16px;
}

.eventPosterContainer:hover .eventPosterImg {
    transform: scale(1.1); /* Slight zoom effect */
}

.eventPosterContainer:hover .eventPosterDetails {
    opacity: 1;
}


.like-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ff4757;
    border: none;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.like-button:hover {
    background-color: #ff0000ee;
    transform: scale(1.1);
}

.like-button:active {
    transform: scale(0.5);
}