
.rsvpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .rsvpButton:hover {
    background-color: #0056b3;
  }
  