/* src/pages/EventDetails/EventDetails.module.css */

:root{
    --form-text-color: rgb(44,44,46);
}

[data-theme='dark']{
    --form-text-color: rgb(229,229,234);
}

.form-label-text{
    color: var(--form-text-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.deleteButton {
    background: red;
    color: white;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    transition: background 0.3s ease;
    margin: 10px;
  }
  
  .deleteButton:hover {
    background: rgb(239, 103, 103);
  }

.eventPoster {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.eventPoster img {
    width: 100%;
    height: auto;
}

.eventInfo {
    flex: 2;
    margin-left: 30px;
}

.eventInfo h1 {
    margin-bottom: 20px;
}

.eventInfo p {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .eventPoster {
        max-width: 600px; 
    }

    .eventPoster img {
        max-width: 450px; 
    }

    .eventInfo {
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .eventPoster {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .eventPoster img {
        width: 80%;
        max-width: 300px;
        height: auto;
    }

    .eventInfo {
        margin-left: 0;
        width: 100%;
    }

    .eventInfo p {
        text-align: left;
        margin-bottom: 10px;
    }
}
