/* src/pages/EventDetails/EventDetails.module.css */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.eventPoster {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.eventPoster img {
    width: 100%;
    height: auto;
}

.eventInfo {
    flex: 2;
    margin-left: 30px;
}

.eventInfo h1 {
    margin-bottom: 20px;
}

.eventInfo p {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .eventPoster {
        max-width: 600px; 
    }

    .eventPoster img {
        max-width: 450px; 
    }

    .eventInfo {
        margin-left: 40px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .eventPoster {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .eventPoster img {
        width: 80%;
        max-width: 300px;
        height: auto;
    }

    .eventInfo {
        margin-left: 0;
        width: 100%;
    }

    .eventInfo p {
        text-align: left;
        margin-bottom: 10px;
    }
}
