.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.event-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500; /* Medium */
    font-style: italic; /* Italic for Medium Italic */
    font-size: 36px;
    text-align: center;
}

.event-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 18px;
    text-align: center;
}

.event-poster {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.event-navigation {
    font-size: 45px;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
