/* Banner.css */
.banner {
    width: 100%;
    height: 503px;
    background: #D6001C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Search Bar and Button */
.search-bar-container {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: -12px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 80%;
    max-width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: -50px;
}

.search-button {
    background: #E20612;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
}
