/* src/pages/AdminPage/AdminPage.module.css */
.outterContainer {
    padding: 20px;
  }
  
  .boldTitle {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .sectionTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .adminTool {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .DarkAdminTool {
    background-color: #777;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .actionButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .actionButton:hover {
    background-color: #0056b3;
  }
  
  .statsContainer {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .link {
    color: #007bff;
    text-decoration: underline;
  }
  
  /* Adjust the styling to make the search bar blend well */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }
  
  .rankExplanationList {
    list-style-type: none;
    padding: 0;
  }

  .DarkRankExplanationList {
    background-color: #777;
    list-style-type: none;
    padding: 0;
  }
  
  .rankExplanationItem {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  .DarkRankExplanationItem {
    background-color: #777;
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  