@import "../../Master.css";

.footer a.gitHubURL {
  text-decoration: none;
  color: inherit;
}


.footer i {
  color: #ffffff;
}

.footer i:hover {
  color: #0000ff;
}


.footer a.gitHubURL:hover {
  text-decoration: none;
  color: #0000ff;

}



.pageContent {
  flex-grow: 1; 
}

.footer {
  background: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;


}

.footerText {
  color: var(--primary-white);
  font-family: 'Chakra Petch';
  font-size: 15px;
  margin: 0;
}
.flexItem {
  margin-left: 10px;
  margin-right: 10px;

}



