.footer-container { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.page-content {
  flex-grow: 1; 
}

.footer {
  background: #e85635;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 30px; 
}

.footer_text {
  color: white;
  font-family: 'Chakra Petch';
  font-size: 15px;
  line-height: 1.5;
}
