
.footer a.gitHubURL {
  text-decoration: none;
  color: inherit;
}


.footer i {
  color: white;
}

.footer i:hover {
  color: white;
  color: blue;
}


.footer a.gitHubURL:hover {
  text-decoration: none;
  color: blue;

}


.footerContainer { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.pageContent {
  flex-grow: 1; 
}

.footer {
  background: #e85635;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;


}

.footerText {
  color: white;
  font-family: 'Chakra Petch';
  font-size: 15px;
  margin: 0;
}
.flexItem {
  margin-left: 10px;
  margin-right: 10px;

}



