:root {
  --modal-bg-color: #fff;
  --modal-border-color: #000;
  --modal-title-color: #000;
  --modal-text-color: #000;
  --form-control-bg-color: #fff;
  --form-control-border-color: #ced4da;
  --form-control-placeholder-color: #888;
  --button-primary-bg-color: #007bff;
  --button-secondary-bg-color: #6c757d;
  --alert-success-bg-color: #d4edda;
  --alert-danger-bg-color: #f8d7da;
  --agree-button-bg-color: #000000;
  --link-color: #007bff;
  --accept-text-color: #000;
  --modal-small-text-color: #5a5a5a;
}

[data-theme='dark'] {
  --modal-bg-color: #333;
  --modal-border-color: #fff;
  --modal-title-color: #fff;
  --modal-text-color: #fff;
  --form-control-bg-color: #555;
  --form-control-border-color: #666;
  --form-control-placeholder-color: #ccc;
  --button-primary-bg-color: #0056b3;
  --button-secondary-bg-color: #494949;
  --alert-success-bg-color: #155724;
  --alert-danger-bg-color: #721c24;
  --link-color: #80bdff;
  --agree-button-bg-color: #ffffff;
  --accept-text-color: #ccc;
  --modal-small-text-color: #ccc;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--modal-bg-color) !important;
  border: none !important;
}

.modalHeader small{
    color: var(--modal-small-text-color) !important;
}

.modalContainer{
  font-family: "Hevletica", sans-serif;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold!important;
}

.modalBody {
  background-color: var(--modal-bg-color) !important;
  color: var(--modal-text-color) !important;
  border: none !important;
}

.modalFooter {
  background-color: var(--modal-bg-color) !important;
  border: none !important;

}

.formGroup {
  margin-bottom: 1rem !important;
}

.formLabel {
  font-weight: bold !important;
  font-size: medium;
  color: var(--modal-text-color) !important;
  cursor: pointer;
  padding-left: 0;
  margin-left: 0;
}

.inputField{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.textDanger {
  color: red !important;
}

.formControl {
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  background-color: var(--form-control-bg-color) !important;
  border: 1px solid var(--form-control-border-color) !important;
  border-radius: 0.25rem !important;
  color: var(--modal-text-color) !important;
  margin-left: 10px;
}

.formControl::placeholder {
  color: var(--form-control-placeholder-color) !important;
}

.button {
  margin-right: 0.5rem !important;
  border: none !important;
  border-radius: 0.25rem !important;
  cursor: pointer !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
}

.buttonPrimary {
  background-color: var(--button-primary-bg-color) !important;
  color: #fff !important;
}

.buttonSecondary {
  background-color: var(--button-secondary-bg-color) !important;
  color: #fff !important;
}

.alert {
  margin-bottom: 1rem !important;
}

.alertSuccess {
  background-color: var(--alert-success-bg-color) !important;
  color: #155724 !important;
}

.alertDanger {
  background-color: var(--alert-danger-bg-color) !important;
  color: #721c24 !important;
}

.link {
  color: var(--link-color) !important;
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.link:hover {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

.acceptText {
  color: var(--accept-text-color) !important;
  font-weight: bolder;
}

.error{
    color: red;
}

.formGroup input[type="checkbox"] {
  /* remove the default checkbox */
  -webkit-appearance: none !important;
  appearance: none !important;
  /* create a custom checkbox */
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formGroup input[type="checkbox"]::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* change the border color */
  border: 2px solid var(--agree-button-bg-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.formGroup input[type="checkbox"]:checked::after {
  height: 12px;
  width: 20px;
  border-top: none;
  border-right: none;
  border-radius: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
  border-color: forestgreen;
}

.formGroup a{
    color: #4796dd;
    text-decoration: none;
}