@font-face {
  font-family: "Italiana";
  src: url('../../assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Italiana, serif;
  font-size: 1.4rem;
  position: fixed;
  z-index: 20;
  
}

.navContainer {
  /* width: 100%; */
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px 0 0 0;
  position: fixed;
}

.navLogo {
  color: #ff0000;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  display: flex;
  justify-items: center;
  padding: 0 0 10px 0;
}

.navLogo .icon {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  margin-left: 5px;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.navLinks {
  color: #ff0000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.navItem {
  line-height: 40px;
  margin-right: 1rem;
}

.navItem:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navItem:hover:after {
  width: 100%;
  background: #ff0000;
}

.navItem .active {
  color: #ff0000;
  border: 1px solid #ff0000;
}

.navIcon {
  display: none;
  color: #ff0000;
  vertical-align: middle;
}

.navIcon .icon {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 960px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px #fff;
    position: fixed;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navItem .active {
    color: #ffdd40;
    border: none;
  }
  .navLinks {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .navLogo .icon {
    width: 2rem;
    height: 2rem;
  }

  .navIcon {
    display: block;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
