.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: fixed;
  z-index: 20;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; /* Set height to 100% to match parent height */
  justify-content: space-between;
  padding: 0 20px;
}

.navLeft {
  display: flex;
  align-items: center;
  height: 100%;
}

.navRight {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLogo {
  color: #ff0000;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.logoSvg {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
}

.navMenu, .navMenu2 {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  text-align: center;
}

.navLinks {
  /* color: #ff0000; */
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;
}

.navLinks:hover {
  border-bottom: 3px solid #ff0000;
}

.navItem {
  line-height: 40px;
  margin-right: 1rem;
}

.navItem:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navItem:hover:after {
  width: 100%;
  background: #ff0000;
}

.navItem .active {
  color: #ff0000;
  border: 1px solid #ff0000;
}

.navIcon {
  display: none;
  color: #ff0000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navIcon .icon {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
}

.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease;
  z-index: 19;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.drawer.open {
  left: 0;
}

.drawerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  list-style: none;
}

.drawerItem {
  width: 100%;
  margin: 10px 0;
}

.drawerItem .navLinks {
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.drawerItem .navLinks:hover {
  background: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 50px;
  }

  .navMenu, .navMenu2 {
    display: none;
  }

  .logoSvg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .navIcon .icon {
    width: 3rem;
    height: 3rem;
  }

  .navIcon {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e85635;
  }

  .navContainer {
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .navLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
  }
}
