@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
@font-face {
  font-family: "Italiana";
  src: url('./assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #dddddd;
  --button-text-color: #000000;
  --gradient-bg: linear-gradient(
    217deg,
    rgba(255, 101, 101, 0.8),
    rgb(255 0 0 / 0%) 70.71%
  ), linear-gradient(127deg, rgba(255, 248, 108, 0.8), rgb(0 255 0 / 0%) 70.71%),
  linear-gradient(336deg, purple, rgb(0 0 255 / 0%) 70.71%);
}

[data-theme='dark'] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --button-bg-color: #555555;
  --button-text-color: #ffffff;
  --gradient-bg: linear-gradient(
    217deg,
    rgba(55, 55, 55, 0.8),
    rgb(0 0 0 / 0%) 70.71%
  ), linear-gradient(127deg, rgba(55, 55, 55, 0.8), rgb(0 0 0 / 0%) 70.71%),
  linear-gradient(336deg, rgba(55, 55, 55, 0.8), rgb(0 0 0 / 0%) 70.71%);
}

html, body {
  margin: 0 !important;
  font-family: "Georgia", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: #F4F1EA !important;
  color: var(--text-color); /* Default text color is black */
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
}


[data-theme='dark'] html, [data-theme='dark'] body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.containerFluid {
  padding-top: 70px;
  width: 100% !important;
}

.outterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.custom-checkbox .form-check-input {
  transform: scale(0.9);
  margin-top: 8px;
  margin-right: 0px;
  margin-left: 15px;
  vertical-align: middle;
}

.custom-checkbox .form-check-label {
  vertical-align: middle;
}

.small-text {
  font-size: 18px !important; /* Set the desired font size */
}

footer {
  margin-top: auto;
}
