/* global css */
@font-face {
  font-family: "Italiana";
  src: url('./assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

html, body {
  margin: 0 !important;
  font-family: "Italiana", serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: linear-gradient(
    217deg,
    rgba(255, 101, 101, 0.8),
    rgb(255 0 0 / 0%) 70.71%
  ), linear-gradient(127deg, rgba(255, 248, 108, 0.8), rgb(0 255 0 / 0%) 70.71%),
  linear-gradient(336deg, rgba(66, 66, 255, 0.8), rgb(0 0 255 / 0%) 70.71%) !important;
  display: flex !important;
  flex-direction: column !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.containerFluid {
  padding-top: 70px; 
}

.outterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
}