:root {
    --primary-white: #FFFFFF;
    --off-white: #f4f1ea;
    --primary-black: #000000;
    --primary-red: #d6001c;
    --off-red: #ab2328;
    --light-gray:#777777;
    --mid-gray:#626262;
    --dark-gray:#383838;
    --off-black:#272727;
}

