:root{
    --modal-bg-color: #fff;
    --modal-border-color: #000;
    --modal-title-color: #000;
    --modal-text-color: #000;
    --form-control-bg-color: #fff;
    --form-control-border-color: #ced4da;
    --form-control-placeholder-color: #888;
    --button-primary-bg-color: #007bff;
    --button-secondary-bg-color: #6c757d;
    --button-tertiary-bg-color: #fa3a3a;
  }
  
  [data-theme='dark'] {
    --modal-bg-color: #333;
    --modal-border-color: #fff;
    --modal-title-color: #fff;
    --modal-text-color: #fff;
    --form-control-bg-color: #555;
    --form-control-border-color: #666;
    --form-control-placeholder-color: #ccc;
    --button-primary-bg-color: #0056b3;
    --button-secondary-bg-color: #494949;
    --button-tertiary-bg-color: #b60000;
  }


  .modalHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--modal-bg-color) !important;
    border: none !important;
  }
  
  .modalContainer{
    font-family: "Hevletica", sans-serif;
  }
  
  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold!important;
  }
  
  .modalBody {
    background-color: var(--modal-bg-color) !important;
    color: var(--modal-text-color) !important;
    border: none !important;
  }
  
  .modalFooter {
    background-color: var(--modal-bg-color) !important;
    border: none !important;
  
  }
  
  .formGroup {
    margin-bottom: 1rem !important;
  }
  
  .formLabel {
    font-weight: bold !important;
    font-size: medium;
    color: var(--modal-text-color) !important;
    cursor: pointer;
    padding-left: 0;
    margin-left: 0;
  }
  
  
  .formControl {
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    background-color: var(--form-control-bg-color) !important;
    border: 1px solid var(--form-control-border-color) !important;
    border-radius: 0.25rem !important;
    color: var(--modal-text-color) !important;
    margin-left: 10px;
  }
  
  .formControl::placeholder {
    color: var(--form-control-placeholder-color) !important;
  }
  
  .button {
    margin-right: 0.5rem !important;
    border: none !important;
    border-radius: 0.25rem !important;
    cursor: pointer !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
  }
  
  .buttonPrimary {
    background-color: var(--button-primary-bg-color) !important;
    color: #fff !important;
  }
  
  .buttonSecondary {
    background-color: var(--button-secondary-bg-color) !important;
    color: #fff !important;
  }

  .buttonTertiary {
    background-color: var(--button-tertiary-bg-color)  !important;
    color: #fff !important;
  }
