.allEvents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.eventsDisplayContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    /* padding-top: 148px; */
    padding-left: 10%;
    box-sizing: border-box;
    margin-top: 10%;
}

.filterContainer {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sortContainer {
    width: max-content;
    display: flex;
    justify-content: center;
    margin: 90px 20px 20px 0;
    flex-wrap: wrap;
}

.sortContainer label {
    margin-right: 10px;
}


.sortContainer select {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35); 
    z-index: 1;
}

.filterSearch {
    width: 70%;
}

.filterCategory {
    width: 28%;
}

/* Masonry grid styles */
.myMasonryGrid {
    display: flex;
    margin-left: -15px; 
    width: auto;
}

.myMasonryGridColumn {
    padding-left: 15px; 
    background-clip: padding-box;
}

.myMasonryGridColumn > div {
    margin-bottom: 20px;
}

.skeletonWrapper {
    margin: 20px;
}

/* Responsive adjustments */
@media (max-width: 1100px) {
    .myMasonryGrid {
        margin-left: 0;
    }
    .myMasonryGridColumn {
        padding-left: 0;
    }
}

@media (max-width: 700px) {
    .filterContainer {
        flex-direction: column;
        align-items: center;
    }
    .filterSearch, .filterCategory {
        width: 100%;
        margin-bottom: 10px;
    }
    .eventsDisplayContainer {
        padding-left: 0;
    }
}
