.all-events {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.events-display-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
