.allEvents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.eventsDisplayContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    padding-top: 100px;
}
