

.allEvents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.eventsDisplayContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    padding-left: 2%;
    box-sizing: border-box;
    margin-top: 10%;
}

/* Masonry grid styles */
.myMasonryGrid {
    display: flex;
    margin-left: -15px;
    width: auto;
}

.myMasonryGridColumn {
    padding-left: 15px;
    background-clip: padding-box;
}

.myMasonryGridColumn > div {
    margin-bottom: 20px;
}

.skeletonWrapper {
    margin: 20px;
}

/* Responsive adjustments */
@media (max-width: 1100px) {
    .myMasonryGrid {
        margin-left: 0;
    }
    .myMasonryGridColumn {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .filterContainer {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: stretch;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        max-width: 767px;
    }

    .sortContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;

    }

    .sortContainer label, 
    .sortContainer select {
        font-size: 14px;
        margin-right: 10px;
    }

    .sortContainer label {
        margin-bottom: 5px;
        white-space: nowrap;
    }

    .sortContainer select {
        flex: 1;
    }


    .eventsDisplayContainer {
        margin-top: 55px;
        padding-left: 0;
        padding-right: 0;
    }
}
