   .imagePopUp {
    position: relative;
    display: inline-block;
   }
   
   .PopUp_image {
    width: 400px;
    height: 500px;
    transition: transform 0.3s ease;
   }
   
   .text {
    visibility: hidden;
    width: 120px;
    background-color: rgb(232, 22, 22);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: "Times New Roman", Times, serif;
   }
   
   .imagePopUp:hover .PopUp_image {
    transform: scale(1.18);
   }
   
   .imagePopUp:hover .text {
    visibility: visible;
    opacity: 1;
   }
   