
@font-face {
    font-family: "Italiana";
    src: url('../../assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

cardtext{
    font-family: 'Italiana', serif;
}

.content {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 100vh;

    margin: 0;
    font-family: Italiana, serif;
    background: linear-gradient(
        217deg,
        rgba(255, 101, 101, 0.8),
        rgb(255 0 0 / 0%) 70.71%
      ), linear-gradient(127deg, rgba(103, 255, 103, 0.8), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(336deg, rgba(66, 66, 255, 0.8), rgb(0 0 255 / 0%) 70.71%);
  }


hr {
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    gap: 150px;
}



