
@font-face {
    font-family: "Italiana";
    src: url('../../assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

cardtext{
    font-family: 'Italiana', serif;
}



.content h1 {
    font-size: 69px; 
}

.content h5 {
    font-size: 42px; 
}

.content p {
    font-size: 21px; 
}


.content {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 950px;
    margin: 0;
    font-family: Italiana, serif;
    background: linear-gradient(
        217deg,
        rgba(255, 101, 101, 0.8),
        rgb(255 0 0 / 0%) 70.71%
      ), linear-gradient(127deg, rgba(255, 248, 108, 0.8), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(336deg, rgba(66, 66, 255, 0.8), rgb(0 0 255 / 0%) 70.71%);
  }


hr {
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    gap: 150px;
}

.carouselContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }


  

.searchBarWrapper {
    margin-top: 100px;
}

.anim1 {
    animation: fade-in 1s;
}

.anim2 {
    animation: fade-in-and-scale 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fade-in-and-scale {
    from {
        opacity: 0;
        scale: 95%;
    }
    to {
        scale: 100%;
        opacity: 100;
    }
}



  

