

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .footer_text {
    color: white;
    font-family: 'Chakra Petch';
    font-size: 15px;
    line-height: 1.5;
    padding-left: 30px;
  }
  