/* Carousel.module.css */
.carousel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  
}


.imgContainer {
  width: 420px;
}

.imgContainer img {
  max-width: 100%;
  width: 100%;
  object-fit: cover; /* This can help keep aspect ratio without stretching images. */
}

.captionAbove {
  width: 100%; /* Same width as the image container */
  max-width: 420px;
  color: white; /* Change the color to white for better readability */
  font-size: 1.5em; /* Increase the font size for better visibility */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
  padding: 10px 20px; /* Add padding for better spacing */
  margin-bottom: 10px; /* Add some space between the caption and the image */
  border-radius: 10px;
}

.captionBelow {
  width: 100%; /* Same width as the image container */
  max-width: 420px;
  color: white; /* Change the color to white for better readability */
  font-size: 1em; /* Font size for location and date */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
  padding: 10px 20px; /* Add padding for better spacing */
  margin-top: 10px; /* Add some space between the image and the caption */
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
}

.nextButton, .prevButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  padding: 5px;
  font-size: 35px;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease;
  color: red;
}

/* Hover effect */
.nextButton:hover, .prevButton:hover {
  transform: translateY(-50%) scale(1.1);
}

/* Focus effect for accessibility */
.nextButton:focus, .prevButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px red;
}

.nextButton {
  right: -95px;
}

.prevButton {
  left: -95px;
}
