.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.event-title, .event-description {
    text-align: center;
}

.event-poster {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.event-navigation {
    font-size: 24px;
    cursor: pointer;
    user-select: none; /* prevent text selection */
}
