:root {
  --sidebar-bg-color: rgba(0, 0, 0, 0.8);
  --border-color: #000;
  --label-color: #000000;
  --tags-label-color: #F7F9F9;
  --tags-label-bg-color: rgba(229, 231, 233 , 0.5);
  --checkbox-bg-color: #fff;
  --checkbox-checked-bg-color: #fff;
  --checkbox-checked-color: #000;
  --clear-button-bg-color: rgba(0, 0, 0, 0.8);
  --clear-button-text-color: #fff;
  --clear-button-hover-bg-color: #555;
  --separator-bg-color: #ffffff;
}
[data-theme='dark'] {
  --sidebar-bg-color: rgba(0, 0, 0, 0.9);
  --border-color: #fff;
  --label-color: #fff;
  --tags-label-color: #ffffff;
  --checkbox-bg-color: #333;
  --checkbox-checked-bg-color: #444;
  --checkbox-checked-color: #fff;
  --clear-button-bg-color: #fff;
  --clear-button-text-color: #000;
  --clear-button-hover-bg-color: #aaa;
  --separator-bg-color: #fff;
}

.sidebar {
  width: max-content;
  padding: 20px;
  background-color: var(--sidebar-bg-color);
  border: 2px solid var(--border-color); 
  border-radius: 10px; 
  margin-top: 25px; 
  box-sizing: border-box;
  margin-bottom: auto;
  position: sticky;
  top: 10rem;
  max-height: 70vh;
  z-index: 1000;
  font-family: "Hevletica Neue", sans-serif;
  /* Hide Scroll bar*/
  overflow-y: scroll; /* Allow scroll */
  scrollbar-width: none; /* No scrollbar */
}

.filterSection {
  margin-bottom: 20px;
  position: relative;
}

.filterSection h3 {
  margin-bottom: 10px;

}

.filterBarTags {
  border-radius: 4px;
  padding: 0;
  font-size: 1.3em;
  color: var(--tags-label-color);
  cursor: pointer;
}

.separator {
  height: 1px;
  background: var(--separator-bg-color); 
  margin: 20px 0; 
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

label {
  font-size: 23px; 
  margin-left: 10px; 
  color: var(--label-color);
}

.filterSection input[type="checkbox"] {
  /* remove the default checkbox */
  -webkit-appearance: none;
  appearance: none;
  /* create a custom checkbox */
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* create a custom checkbox by add a fake element*/
.filterSection input[type="checkbox"]::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* change the border color */
  border: 2px solid var(--tags-label-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.filterSection input[type="checkbox"]:checked::after {
  height: 12px;
  width: 20px;
  border-top: none;
  border-right: none;
  border-radius: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.clearButton {
  margin-top: 20px;
  padding: 10px 20px; 
  background-color: var(--clear-button-bg-color); 
  color: var(--clear-button-text-color); 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

.clearButton:hover {
  background-color: var(--clear-button-hover-bg-color);
}

.drawerToggleBtn {
  display: none;
  padding: 15px;
  background-color: var(--clear-button-bg-color); 
  color: var(--clear-button-text-color); 
  border: none; 
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  top: 55px;
  width: auto;
  z-index: 999;
  border-radius: 8px;
  margin: 0;
}


/* Style for mobile */
@media (max-width: 960px) {
  .sidebar {
    position: fixed;
    top: 100px;
    animation: slideDown 0.5s ease-out;
    width: 60vw;
    right: 10px;
    opacity: 0;
    max-height: 70vh;
    transform: translateX(110%);
    transition: transform 0.3s ease, opacity 0.3s ease, max-width 0.3s ease;
  }

  .sidebar.open {
    opacity: 1;
    transform: translateY(0);
  }

  .drawerToggleBtn {
    display: block;
    right: 10px;
  }
}

/* Animation and style of toggle button */
.iconWrapper {
  position: relative;
  width: 30px;
  height: 30px;
}

.filterIcon, .closeIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.iconOpen .filterIcon {
  transform: scale(0);
  opacity: 0;
}

.iconOpen .closeIcon {
  transform: scale(1);
  opacity: 1;
}

.filterIcon {
  transform: scale(1);
  opacity: 1;
}

.closeIcon {
  transform: scale(0);
  opacity: 0;
}

/* Sort strategy labels style */
.filterContainer {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sortContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sortContainer label {
  color: var(--tags-label-color);
  margin: 0;
  font-size: 1.3rem;
}

.sortContainer select {
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 1;
  color: var(--tags-label-color);
}

/* Change button style */
.changeButton {
  padding: 10px 10px;
  width: max-content;
  background-color: var(--clear-button-bg-color);
  color: var(--clear-button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.changeButton:hover {
  background-color: var(--clear-button-hover-bg-color);
  color: white;
}

.changeButton i{
  font-size: 1rem;
  background-color: var(--clear-button-bg-color);
  color: var(--clear-button-text-color);
  Margin-right: 10px;
}

.changeButton span{
  font-size: 1rem;
  color: var(--clear-button-text-color);
}

