.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  margin-top: 80px; /* Add margin-top for space between navbar and filter */
}

.filterSection {
  margin-bottom: 20px;
}

.filterSection h3 {
  margin-bottom: 10px;
}
