@font-face {
    font-family: "Italiana";
    src: url('../../assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype');
}

.aboutUs {
    text-align: center;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(
        217deg,
        rgba(255, 101, 101, 0.8),
        rgb(255 0 0 / 0%) 70.71%
      ), linear-gradient(127deg, rgba(255, 248, 108, 0.8), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(336deg, rgba(66, 66, 255, 0.8), rgb(0 0 255 / 0%) 70.71%);
}

/* set up grid for text elements*/
.grid { 
    display: grid;
    grid-template-columns: auto;
    gap: 150px;
}

.developers {
    flex: 1;
    text-align: center;
}

/* first, second, third, and anim are all for animations */
.first {
    animation: fadeIn 0.5s;
}

.second {
    animation: fadeIn 1s;
}

.third {
    animation: fadeIn 2s;
}

.anim {
    animation: fadeInAndScale 0.5s;
}

/* fade in animation from 0 to 100 opacity */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/* fade in and scale up animation */
@keyframes fadeInAndScale {
    from {
        opacity: 0;
        scale: 95%;
    }
    to {
        opacity: 100;
        scale: 100%;
    }
}

.title {
    font-family: Italiana, serif;
}

.about {
    flex: 1;
    text-align: center;
    position: relative;
    top: 20px;
}

/* mission statement text, left aligned */
.aboutUsText {
    flex: 1;
    text-align: left;
    position: relative;
    top: 40px;
}

.logo {
    flex: 1;
    position: relative;
    scale: 30%;
    top: -270px;
}

/* page break css */
hr {
    position: relative;
    margin: 20px 0;
    width: 100%;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #2d0505;
}

/* set up column and row::after for developers section */
.column {
    float: center;
    width: 20%;
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* css for email links in the developers section */
a:link { 
    text-decoration: none; 
    text-shadow: 0px 0px 20px white;
    color: blue;
} 
a:visited { 
    text-decoration: none; 
    color: darkblue;
} 
a:hover { 
    text-decoration: none; 
    color: darkblue;
} 
a:active { 
    text-decoration: none; 
    color: black;
}
  
/* text in the developer section, moves text down 10px */
.devText {
    flex: 1;
    position: relative;
    top: 10px;
}

/* circle for profile picture */
.profilePic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.footer {
    margin-top: auto; /* Push the footer to the bottom */
}
