.aboutUs {
    text-align: center;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.developers {
    text-align: center;
    margin-top: 40px;
}

.first {
    animation: fadeIn 0.5s;
}

.second {
    animation: fadeIn 1s;
}

.third {
    animation: fadeIn 2s;
}

.anim {
    animation: fadeInAndScale 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAndScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.aboutUsText, .feedbackSection {
    text-align: left;
    margin-top: 20px;
    width: 100%;
}

.bridgeImage {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.hr {
    margin: 20px 0;
    width: 100%;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #2d0505;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
}

a {
    text-decoration: none; 
    color: blue;
} 
a:visited { 
    color: darkblue;
} 
a:hover { 
    color: darkblue;
} 
a:active { 
    color: black;
}

.devText {
    margin-top: 10px;
}

.profilePic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.footer {
    margin-top: auto;
}

.title {
    font-weight: bold;
}

.title h1, .aboutUsText h4, .feedbackTitle {
    font-weight: bold;
}

.missionContainer {
    padding: 0;

    margin-top: 50px;
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .col-12 {
        width: 100%;
        padding: 15px;
    }

    .aboutUsText, .feedbackSection {
        text-align: left;
        width: 100%;
    }

    .bridgeImage {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .developers .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .developers .column {
        width: 30%;
        padding: 10px;
        margin-bottom: 20px;
    }

    .profilePic {
        width: 80px;
        height: 80px;
    }

    .devText {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .developers .column {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .developers .column {
        width: 33.33%;
    }
}
